# import require labraries and dataset

In [1]:
import pandas as pd 
import numpy as np
import itertools
from  mlxtend.preprocessing import TransactionEncoder
import seaborn as sns

In [2]:
dt=pd.read_csv("Amazon - Movies and TV Ratings.csv")

In [3]:
dt.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dt.describe()

,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,Movie10,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
count,1.0,1.0,1.0,2.0,29.000000,1.0,1.0,1.0,1.0,1.0,...,5.000000,2.0,1.0,8.000000,3.000000,6.000000,1.0,8.000000,35.000000,13.000000
mean,5.0,5.0,2.0,5.0,4.103448,4.0,5.0,5.0,5.0,5.0,...,3.800000,5.0,5.0,4.625000,4.333333,4.333333,3.0,4.375000,4.628571,4.923077
std,NaN,NaN,NaN,0.0,1.496301,NaN,NaN,NaN,NaN,NaN,...,1.643168,0.0,NaN,0.517549,1.154701,1.632993,NaN,1.407886,0.910259,0.277350
min,5.0,5.0,2.0,5.0,1.000000,4.0,5.0,5.0,5.0,5.0,...,1.000000,5.0,5.0,4.000000,3.000000,1.000000,3.0,1.000000,1.000000,4.000000
25%,5.0,5.0,2.0,5.0,4.000000,4.0,5.0,5.0,5.0,5.0,...,4.000000,5.0,5.0,4.000000,4.000000,5.000000,3.0,4.750000,5.000000,5.000000
50%,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,4.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000
75%,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,5.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000
max,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,5.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000

In [5]:
dt.shape

(4848, 207)

# avrage rating of all movies

In [6]:
dt.describe().T['mean'].sum()/len(dt.columns)-1

3.4269466332481535

In [7]:
dt.describe().mean()

Movie1      4.428571
Movie2      4.428571
Movie3      1.857143
Movie4      4.000000
Movie5      6.824969
              ...
Movie202    4.120791
Movie203    2.714286
Movie204    4.316611
Movie205    7.692354
Movie206    5.275053
Length: 206, dtype: float64

# movie with highest rating

In [8]:
dt.drop('user_id',axis=1).sum().sort_values(ascending=False)[:1].to_frame()

               0
Movie127  9511.0

# five top rated movies

In [9]:
dt.describe().T['mean'].sort_values(ascending=False)[0:5]

Movie1      5.0
Movie55     5.0
Movie131    5.0
Movie132    5.0
Movie133    5.0
Name: mean, dtype: float64

# top 5 movies with the least audience

In [10]:
dt.describe().T['count'].sort_values(ascending=True)[0:5]

Movie1      1.0
Movie71     1.0
Movie145    1.0
Movie69     1.0
Movie68     1.0
Name: count, dtype: float64

In [11]:
dt.fillna(value=0,inplace=True)

In [12]:
#dt=dt.astype(bool).astype(int)

In [13]:
#dt.drop("user_id",axis=1,inplace=True)

In [14]:
dt

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AH3QC2PC1VTGP,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A3LKP6WPMP9UKX,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AVIY68KEPQ5ZD,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A1CV1WROP5KTTW,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,A1IMQ9WMFYKWH5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4844,A1KLIKPUF5E88I,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4845,A5HG6WFZLO10D,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4846,A3UU690TWXCG1X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4847,AI4J762YI6S06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [15]:
#any movie with such null value 

an=dt.isnull().sum()/dt.shape[0]
an[an==1]

Series([], dtype: float64)

In [16]:
dt.sum()

user_id     A3R5OBKS7OM2IRAH3QC2PC1VTGPA3LKP6WPMP9UKXAVIY6...
Movie1                                                      5
Movie2                                                      5
Movie3                                                      2
Movie4                                                     10
                                  ...
Movie202                                                   26
Movie203                                                    3
Movie204                                                   35
Movie205                                                  162
Movie206                                                   64
Length: 207, dtype: object

In [18]:
from surprise import Reader
from surprise import accuracy
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise.model_selection import cross_validate

In [19]:
df_melt = dt.melt(id_vars = dt.columns[0],value_vars=dt.columns[1:],var_name="Movies",value_name="Rating")

In [20]:
df_melt

               user_id    Movies  Rating
0       A3R5OBKS7OM2IR    Movie1     5.0
1        AH3QC2PC1VTGP    Movie1     0.0
2       A3LKP6WPMP9UKX    Movie1     0.0
3        AVIY68KEPQ5ZD    Movie1     0.0
4       A1CV1WROP5KTTW    Movie1     0.0
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[998688 rows x 3 columns]

In [21]:
rd = Reader()
data = Dataset.load_from_df(df_melt.fillna(0),reader=rd)
data

In [22]:
trainset, testset = train_test_split(data,test_size=0.25)

In [23]:
#Using SVD (Singular Value Descomposition)
svd = SVD()
svd.fit(trainset)

In [24]:
pred = svd.test(testset)

In [25]:
accuracy.rmse(pred)

RMSE: 1.0258

1.0258450181850556

In [26]:
accuracy.mae(pred)

MAE:  1.0119

1.011911622121866

In [28]:
cross_validate(svd, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0268  1.0269  1.0248  1.0262  0.0010
MAE (testset)     1.0123  1.0123  1.0115  1.0120  0.0004
Fit time          36.95   37.69   38.00   37.55   0.44
Test time         3.63    3.45    3.22    3.44    0.17

{'test_rmse': array([1.02683239, 1.02687647, 1.02479586]),
 'test_mae': array([1.01225315, 1.0122718 , 1.01147117]),
 'fit_time': (36.951926946640015, 37.691908836364746, 37.99889588356018),
 'test_time': (3.631230592727661, 3.4525671005249023, 3.2227282524108887)}

In [29]:
def repeat(ml_type,dframe):
    rd = Reader()
    data = Dataset.load_from_df(dframe,reader=rd)
    print(cross_validate(ml_type, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True))
    print("--"*15)
    usr_id = 'A3R5OBKS7OM2IR'
    mv = 'Movie1'
    r_u = 5.0
    print(ml_type.predict(usr_id,mv,r_ui = r_u,verbose=True))
    print("--"*15)

In [30]:
repeat(SVD(),df_melt.fillna(df_melt['Rating'].mean()))
#repeat(SVD(),df_melt.fillna(df_melt['Rating'].median()))

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0256  1.0266  1.0265  1.0262  0.0004
MAE (testset)     1.0118  1.0123  1.0122  1.0121  0.0002
Fit time          38.56   39.24   45.34   41.05   3.05
Test time         3.97    3.43    4.67    4.02    0.51
{'test_rmse': array([1.02562943, 1.02661156, 1.02646772]), 'test_mae': array([1.01178274, 1.01225494, 1.01223301]), 'fit_time': (38.562121868133545, 39.2428822517395, 45.339054346084595), 'test_time': (3.9667153358459473, 3.426913022994995, 4.665870428085327)}
------------------------------
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 1.00   {'was_impossible': False}
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 1.00   {'was_impossible': False}
------------------------------

************************end******************************